<div class="container-fluid d-flex flex-column align-items-center justify-content-evenly pt-5 custom-height fs-4">
  <h1>Articles:</h1>
  <ul class="list-group">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class="list-group-item">
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p>Our blog has <%= Article.public_count %> articles and counting!</p>
  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to "New Article", new_article_path , :class => "text-decoration-none text-white" %>
  </button>
</div>
