<h1 class="text-center p-2 pt-5 mt-5">Read the latest articles by:</h1>
<div class="align-items-center justify-content-center custom-padding-b custom-height list-group">
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= link_to user.name, user %>
      </li>
    <% end %>
  </ul>
</div>